@import "resources/libs/bootstrap/bootstrap";

.section-divider {
    display: flex;
    align-items: center;
    gap: 1rem;

    &::before, &::after {
        content: "";
        height: 1px;
        flex-grow: 1;
        border-top: dotted 5px $secondary;
        transform: translateY(50%);
    }
}

.product-card {
    transition: all ease .3s;

    .card-img {
        aspect-ratio: 1/1 !important;
        overflow: clip;

    }
    &:hover {
        box-shadow: $box-shadow !important;

        .add-to-cart-card {
            right: 1rem;
        }
    }

    .add-to-cart-card {
        z-index: 51;
        position: absolute;
        top: 50%;
        right: -10rem;
        width: 50px;
        height: 50px;
        padding: 1rem;
        background: $white;
        border-radius: 50%;
        transform: translateY(-50%);
        transition: all ease .3s;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
            background: $primary;
            scale: 1.05;

            * {
                fill: $white;
                color: $white;
            }
        }

        * {
            fill: $primary;
            color: $primary;
        }
    }

}

nav.navbar {
    z-index: 99 !important;
    background-color: rgba(255, 255, 255, .65);
    backdrop-filter: blur(8px);

    .nav-link {
        font-weight: 500;
        &.active {
            &::before {
                transform: translate3d(0, 1px, 0) scale3d(1.08, 2, 1);
                clip-path: polygon(0% 0%, 0% 100%, 50% 100%, 50% 0, 50% 0, 50% 100%, 50% 100%, 0 100%, 100% 100%, 100% 0%);

            }

            span {
                transform: translate3d(0, -2px, 0);
            }
        }

        span {
            display: inline-block;
            transition: transform 0.3s cubic-bezier(0.2, 1, 0.8, 1);
        }

        &::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 1px;
            background: currentColor;
            top: 100%;
            left: 0;
            pointer-events: none;
            transform-origin: 50% 100%;
            transition: clip-path 0.3s, transform 0.3s cubic-bezier(0.2, 1, 0.8, 1);
            clip-path: polygon(0% 0%, 0% 100%, 0 100%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%, 100% 100%, 100% 0%);
        }

        &:hover,
        &:focus {

            &::before {
                transform: translate3d(0, 1px, 0) scale3d(1.08, 2, 1);
                clip-path: polygon(0% 0%, 0% 100%, 50% 100%, 50% 0, 50% 0, 50% 100%, 50% 100%, 0 100%, 100% 100%, 100% 0%);

            }

            span {
                transform: translate3d(0, -2px, 0);
            }
        }
    }
}

.success-cart {
    position: absolute;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
    left: 50%;
}

.input-group {
    direction: ltr !important;

    input {
        direction: rtl !important;
    }
}

label.required {
    &::after {
        content: '*';
        margin: 0 2px;
        color: red;
    }
}

.notyf {
    direction: ltr !important;
}

.nav-tabs {
    .nav-link {
        background-color: transparent;
        &.active {
            border: none;
            color: $white;
            background-color: $orange-400;
        }
    }
}
.invalid-feedback {
    direction: rtl !important;
}
.cart {
    direction: ltr;
}
.cart-item-quantity-plus , .cart-item-quantity-minus{
    cursor: pointer;
}
.cart-container {
    position: relative;
}
.cart-loader {
    backdrop-filter: blur(2px);
}
.delete-cart-item  {
    cursor: pointer;
}
.cursor-pointer {
    cursor: pointer !important;
}
.payment-option {
    transition: all ease .3s;
    *{
        color:white !important;
    }
    &.active {
        background-color: white;
        *{
            color: unset !important ;
        }
    }
}

.confirmation-box {
    background: linear-gradient(-90deg, $primary, $yellow-500);
    color: white;
    padding: 20px 40px;
    border-radius: 8px;
    text-align: center;
    position: relative;
    font-size: 1.5em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
}

.icon-check {
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #FFA726;
    font-size: 24px;
    color: #FFA726;
}
#carousel-single {
    width: min(40% , 500px);
    min-width: min(40% , 500px);
    @media screen and (max-width: breakpoint-max('md')) {
        width:100% ;
        min-width: 100%;
    }
    .carousel-indicators button.thumbnail {
        width: 65px;
        height: unset;
        text-indent: unset;
    }
    .carousel-indicators button.thumbnail:not(.active) {
        opacity: 0.7;
    }
    .carousel-indicators {
        position: static;
    }
}

@media screen and (max-width: breakpoint-max('sm')) {
    .notyf {
        display: none;
    }
}


// Mixin for Skeleton Animation
@mixin skeleton-animation {
    background-color: #e0e0e0;
    animation: skeleton-loading 1.5s infinite linear;
    border-radius: 4px;
}

// Skeleton Animation Keyframes
@keyframes skeleton-loading {
    0% {
        background-color: #e0e0e0;
    }
    50% {
        background-color: #f0f0f0;
    }
    100% {
        background-color: #e0e0e0;
    }
}

// General Skeleton Styles
.skeleton-sale-price, .skeleton-img, .skeleton-title, .skeleton-price {
    @include skeleton-animation;
}

// Skeleton for Sale Price Badge
.skeleton-sale-price {
    width: 60px;
    height: 20px;
    position: absolute;
    top: 16px;
    left: 16px;
}

// Skeleton for Image
.skeleton-img {
    width: 100%;
    padding-bottom: 90%; // Maintain a 4:3 aspect ratio
}

// Skeleton for Title
.skeleton-title {
    width: 80%;
    height: 16px;
    margin: 16px auto 8px auto;
}

// Skeleton for Price
.skeleton-price {
    width: 50%;
    height: 20px;
    margin: 8px auto;
}

